@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--d-color-semantic-neutral-content, #222737);

  font-family: "Roboto Flex", serif;
  font-size: var(--fontSize-4, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 140% */
}

h3 {
  color: var(--d-color-base-1000, #000);
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.75rem; /* 122.222% */
}

.big-header-normal {
  color: var(--d-color-semantic-accent-800, #654367);
  font-family: var(--font-roboto-flex);
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 3.75rem */
  @apply text-4xl sm:text-6xl;
}

.big-header-wide {
  color: var(--d-color-semantic-accent-900, #563058);
  font-family: var(--font-roboto-flex);
  font-weight: 1000;
  font-stretch: 100%;
  line-height: 100%; /* 3.75rem */
  letter-spacing: 0.075rem;
  @apply text-4xl sm:text-6xl;
}
